{{> header}}

<h1>{{title}}</h1>

<div class="articles">

    {{#articles}}
        <section>
            <header class="article-header">
                <h2 class="article-title"><a href="/article/{{slug}}">{{title}}</a></h2>
                <div class="article-meta">By  <strong>{{author.firstname}}</strong>, on <strong>{{addedAt}}</strong></div>
            </header>
            <div class="article-description">
                {{headline}}
            </div>
        </section>
    {{/articles}}

    <table>
        <tr>
            <th>Type</th>
            <th>Name</th>
            <th>Ingredients</th>
            <th>Spices and Sauces</th>
            <th>Cooking Instructions</th>
        </tr>
    {{#recipes}}
        <tr>
            <td>{{type}}</td>
            <td>{{name}}</td>
            <td><pre>{{ingredients}}</pre></td>
            <td><pre>{{spicesAndSauces}}</pre></td>
            <td><pre>{{cookingInstructions}}</pre></td>
        </tr>
    {{/recipes}}
    </table>

</div>

{{> footer}}